
body, html{
    padding:0;
    margin:0; 
	background: #FFFFFF;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
} 

#banner{   
	position: absolute;   
}     

.oneByOne1{
	top: 0px;
	left: 0px;  
	margin: 0;
	width: 1920px;
	height: 1080px;   
	/*background: #EFEFEF url(../images/assets/paven.png) repeat;*/
	background-color: #0074bf;
	position: relative;
	overflow: hidden;

}  

#green {
	background-color: #3bad65;
	
}

.bold {
	font-weight: 600;
}

#banner .oneByOne_item{
	position: absolute;
	width: 100vw;
	height: 100vh;  
	overflow: hidden;  
	display: none;
}         
                      
#banner .oneByOne_item span{
	font-family: 'Raleway', sans-serif;
}                                                                                              

#banner .oneByOne_item a{
	text-decoration: none;
	color: #B22222;
}
              


.clear{
	clear: both;
}