}body,
html{
    text-align: center;
    color: white;
}


html, body{
    background-color: #333;
    font-family: Arial;
	margin: 0;
	width:100vw;
	height:100vh;
}



div.image1{
	top:10vh;
	left:5vw;
    width: 35vw;
    position: absolute;
	z-index: 9999;
	background-color: red;
}

div.image2{
	position: absolute;
	top:10vh;
	left:50vw;
    width: 35vw;
}


div.pinch-zoom {
    position: relative;
}

.container {
	top:10vh;
	left:5vw;
    width: 35vw;
    position: absolute;
	z-index: 9999;
}
	
