



div.image1{
	top:20vh;
	left:5vw;
	height:500px;
    max-width: 500px;
    position: relative;
	z-index: 9999;
}

div.image2{
	position: relative;
	top:-22.5vh;
	left:50vw;
    max-width: 40vw;
}


div.pinch-zoom {
    position: relative;
}


